@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-bar {
    height: auto;
    min-height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.logo {
    width: 22px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black;

}

#para {
    margin-left: 7px;
    font-size: 16px;
    font-weight: bold; 
    font-family: "Roboto", serif;
    color: black;
}

.list ol {
    display: flex;
    gap: 20px;
}

.list ol li {
    list-style: none;
    font-family: "Roboto", serif;
}

.list {
    width: 100%;
    order: 3;
    /* Move below logo and search on mobile if wrapping */
    margin: 10px 0;
}

.list ol {
    justify-content: center;
    padding: 0;
}

@media (min-width: 768px) {
    .list {
        width: auto;
        margin-left: 20px;
        order: 0;
        display: block;
    }
}

.new {
    display: flex;
}

.search-panel {
    width: 100%;
    max-width: 400px;
    height: 35px;
    /* background-color: pink; */
    display: flex;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid rgb(233, 228, 228);
}

.search-panel input {
    width: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* color:rgb(233, 228, 228); */
    font-size: 15px;
    outline: none;
}

.icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: rgb(233, 228, 228);
}

.icon2 {
    width: 40px;
    height: 40px;
    background-color: rgb(233, 228, 228);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search-panel ::placeholder {
    color: rgb(214, 198, 198);
}

.box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media (min-width: 1024px) {
    .box {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.box1 {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.box1 button {
    font-family: "Roboto", serif;
    padding: 10px;
    color: rgb(11, 11, 236);
    background-color: rgb(187 228 255);
    font-weight: 800;
    font-size: medium;
    border: none;
    border-radius: 7px;
    width: 95px;
}

.box1 p {
    font-size: 45px;
    font-family: "Roboto", serif;
}

#bold {
    margin-top: 25px;
}

.text {
    width: 100%;
    max-width: 370px;
}

.text p {
    font-weight: 300;
    color: rgb(172, 172, 172);
    font-size: 12px;

}

.cart {
    margin-top: 20px;
}

.cart button {
    background-color: black;
    border-radius: 0%;
    width: 180px;
}

.cart i {
    color: white;
    padding: 5px;
}

.cart span {
    color: white;
    padding: 5px;
    font-weight: 400;
}

.more-text ol {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.more-text ol li {
    list-style: none;
    font-family: "Roboto", serif;
    color: rgb(172, 172, 172);
    font-size: 20px;
}

.more-text {
    margin-top: 65px;
}

.box2 {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

#image-background {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(221, 176, 51);
    border-radius: 50%;
    margin: 0 auto;
}

#first-image {
    width: 90%;
    height: auto;
    display: block;
    margin: -7% auto 0;
}

#promotions p {
    text-align: center;
    color: #4040ff;
    font-size: 13px;
    font-family: "Roboto", serif;
}

#promotions h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 10px;
}

#big-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 1024px) {
    #big-box {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}

.two-images {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#one-image {
    width: 100%;
    min-height: 160px;
    background-color: #868282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

#Get {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto", serif;
}

#spa {
    font-weight: 900;
    font-size: 44px;
}

.par {
    font-size: 21px;
    font-weight: 400;
    font-family: "Roboto", serif;
    margin-top: -10px;
}

.sp {
    padding: 20px;
    z-index: 2;
}

.image-s img {
    height: 160px;
    width: auto;
}

.image-s {
    margin-right: -10px;
}

#sec-image {
    width: 100%;
    height: 160px;
    background-color: rgb(14, 14, 14);
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#off {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto", serif;
}

#promo {
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Roboto';
}

#sale button {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #868282;
}

#sale {
    margin-left: 5px;
    margin-top: 2px;
}

.single-image {
    width: 100%;
    max-width: 300px;
    /* height: auto;
    min-height: 330px; */
    margin: 0;
    background-color: #dadfc7;
}


.single-div {
    margin-left: 20px;
    margin-top: 20px;
}

#man-image img {
    width: 100%;
    height: auto;
    margin-left: 0;
}

#flex {
    font-weight: 400;
    font-size: 17px;
    font-family: 'Roboto';
}

#hundred {
    text-decoration: line-through;
}

#seventy {
    font-weight: 900;
    font-size: 20px;
}

.single-image2 {
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 330px;
    margin: 0;
    background-color: #dcdce4;
}

#girl-image img {
    width: 100%;
    height: auto;
    margin-left: 0;
}

.footer-big-box {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    gap: 30px;
}

.list-1 ol li {
    font-family: 'Roboto';
    list-style: none;
    margin-top: 7px;
}

.list-2 ol li {
    font-family: 'Roboto';
    list-style: none;
    margin-top: 7px;
}

.list-3 ol li {
    font-family: 'Roboto';
    list-style: none;
    margin-top: 7px;
}

#box1,
.margin {
    margin: 0;
}

.list-1 b {
    font-family: 'Roboto';
    font-size: 20px;
}

.list-2 b {
    font-family: 'Roboto';
    font-size: 20px;
}

.list-3 b {
    font-family: 'Roboto';
    font-size: 20px;
}