@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-bar {
    width: 90%;
    max-width: 1200px;
    min-height: 60px;
    height: auto;
    /* border: 2px solid black; */
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.market {
    display: flex;
    gap: 7px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid black;
}

#dine {
    font-size: 1.4rem;
}

.list ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

.list ul li {
    list-style: none;
}

.list {
    width: 100%;
    order: 3;
    margin: 10px 0;
}

.list ul {
    justify-content: center;
}

@media (min-width: 768px) {
    .list {
        width: auto;
        order: 0;
        display: block;
    }
}

.search-panel {
    width: 100%;
    max-width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    color: rgb(196, 194, 192);
    border: 2px solid rgb(196, 194, 192);
    border-radius: 8px;
}

.search-panel input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 5px;
    border-radius: 8px;
    outline: none;
}

.search-panel i {
    padding-left: 5px;
}

.cart {
    width: 40px;
    height: 40px;
    background-color: rgb(218, 228, 228);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zero {
    width: 17px;
    height: 17px;
    background-color: rgba(212, 65, 65, 0.767);
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
}

.grid {
    /* border: 2px solid black;
    height: 322vh; */
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* justify-items: center; */
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.image1 {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.image1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#Brushed {
    margin-top: 9px;
}

#sweater {
    color: rgb(177, 194, 194);
}

.im {
    height: auto;
    aspect-ratio: 1/1.1;
    /* Approximate aspect ratio of original images */
}

footer {
    /* border: 2px solid black; */
    height: auto;
    min-height: 300px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.foot1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.foot1 p {
    color: rgb(224, 223, 220);
    width: 100%;
    max-width: 300px;
}

.foot ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foot ul li {
    list-style: none;
}